<!DOCTYPE html>
<html lang="en">

<head>
    {{ partial "head.html" . }}
</head>

<body>
    {{ partial "header.html" . }}

    <div class="container">
        <aside class="sidebar">
            {{ partial "sidebar.html" . }}
        </aside>

        <main class="content">
            {{ block "main" . }}{{ end }}
        </main>

        <aside class="toc">
            {{ partial "toc.html" . }}
        </aside>
    </div>

    {{ $js := resources.Get "js/theme-toggle.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.Permalink }}"></script>
</body>

</html>